name: Selenium_web_projects

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout the code
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Run Project Tests 1
      run: dotnet test TestProject1\TestProject1.csproj --verbosity normal
    - name: Run Project Tests 2
      run: dotnet test TestProject2\TestProject2.csproj --verbosity normal
    - name: Run Project Tests 3
      run: dotnet test TestProject3\TestProject3.csproj --verbosity normal
